<div class="message">
  <img class="avatar-large" height=100px src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="message-name">
    <h3>Sylvester Stallone</h3>
    <p>10/07/17</p>
  </div>
  <div class="message-body">
    <p><strong>C'est génial!</strong></p>
    <p>
      J'en avais assez de tous ces emballages plastiques à usage unique, depuis que je suis adhérent, je recherche des restaurants respectant la charte "Echo Bento"
    </p>
  </div>
<!--   <div class="message-status">
    <p class="status pending">Pending</p>
    <p class="price">€345</p>
  </div> -->
</div>